on:
  workflow_dispatch:
    inputs:
      username:
        required: true
        description: LT Username
      accessKey:
        description: LT Access Key
        required: true

      country:
        description: 'Select Country'
        required: true
        type: choice
        options:
        - CL
        - CO
        - MX
        - PE
        - EC
        - PA
      brand:
        description: 'Select Brand'
        required: true
        type: choice
        options:
        - Esika
        - Cyzone
        - Lbel
      environment:
        description: 'Select Environment'
        required: true
        type: choice
        options:
        - QAS
        - PRD
      tags:
        description: 'Add Tags to execute'
        default:  '''@CL and not @QAS'''
        required: true
        type: string
  workflow_call:
    secrets:
      download_token:
        required: true
      TR_USER:
        required: true
      TR_PASSWORD:
        required: true

name: QA Workflow Release
jobs:
  executeE2eTests:
    runs-on: ubuntu-latest
    name: Execute E2E Tests
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'tech-belcorp/ecommerce-nextgen-platform-automation-framework'
          ref: 'release'
      - uses: actions/github-script@v6
        env:
          country: '${{inputs.country}}'
          brand: '${{inputs.brand}}'
          environment : '${{inputs.environment}}'
      - name: Starting CLI testing
        shell: bash
        run: |
            const script = require('./.github/workflows/url.js')
            console.log("VTEX BASE URL:")
            console.log(script({core, context}))
              curl https://downloads.lambdatest.com/hyperexecute/windows/hyperexecute.exe -o hyperexecute
              export LT_USERNAME=${{ github.event.inputs.username }}
              export LT_ACCESS_KEY=${{ github.event.inputs.accessKey }}
              ./hyperexecute --user $LT_USERNAME --key $LT_ACCESS_KEY --config yaml/win/cucumber_hyperexecute_autosplit_sample.yaml
   
